<!-- templates/admin_create_user.html -->
{% extends "base.html" %}

{% block title %}
Create User
{% endblock %}

{% block content %}
<div class="general_view_page_container">
<h1>Create New User</h1>
<!-- Flash message for success or errors -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

<!-- Create User Form -->
<form method="POST" action="{{ url_for('admin.create_user') }}" enctype="multipart/form-data" class="upload_form">
    {{ form.hidden_tag() }}
    
    <div class="form-group">
        <label for="email">Email</label>
        {{ form.email(class="form-control") }}
    </div>

    <div class="form-group">
        <label for="unique_id">User Tag</label>
        {{ form.unique_id(class="form-control") }}
    </div>

    <div class="form-group">
        <label for="username">Username</label>
        {{ form.username(class="form-control") }}
    </div>
    
    <div class="form-group">
        <label for="password">Password</label>
        {{ form.password(class="form-control") }}
    </div>
    
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
</div>
{% endblock %}