<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/main.css">
    <meta charset="UTF-8">
    <meta name="keywords" content="Foto, IIS, Despair">
    <meta name="description" content="IIS Project">
    <meta name="author" content="Dominik, František, Marek">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Fitstagram {% block title %}Default Title{% endblock %}</title>
</head>

<body>
{% block header %}
    {% include "header.html" %}
{% endblock %}

    <main>
        {% block content %}
        <p>Default content goes here.</p>
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 My Website</p>
    </footer>
</body>

</html>