<!-- templates/group_detail.html -->
{% extends "base.html" %}

{% block title %}
Edit group
{% endblock %}

{% block content %}
<h1> Edit group </h1>
{% if current_user.id == group.owner_id or current_user_is_moderator%}
<div class="general_view_page_container">
<form 
    method="POST" 
    action="{{ url_for('groups.edit_group', group_id=group.id) }}" 
    enctype="multipart/form-data"
    class="upload_form"
>
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class="form-control") }}
    </div>

    <div class="form-group upload_form_desc">
        <label for="description">Description</label>
        {{ form.description(class="form-control") }}
    </div>

    <div class="form-group upload_form_picture">
        <img src = "{{ url_for('foto.get_group_image', group_id=group.id) }}"
        alt="Group Image"
        id="img_preview"
        style="width: 150px; height: 150px; border-radius: 50%;">
        <label for="photo">Photo</label>
        {{ form.photo(class="form-control") }}
    </div>

    <div class="form-group">
        <label for="public">Public</label>
        {{ form.visibility(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>

</form>
</div>

<script>
    let imgInp = document.getElementById("photo");
    let imgPrev = document.getElementById("img_preview");
    imgInp.onchange = evt => {
        const [file] = imgInp.files
        if (file) {
            imgPrev.src = URL.createObjectURL(file)
        }
    }
</script>

{% endif %}
{% endblock %}