<!-- templates/group_detail.html -->
{% extends "base.html" %}

{% block title %}
Group homepage
{% endblock %}

{% block content %}
<h1> {{group.name}}</h1>

<div class="group_links">
{% if owner %}
<a href="{{ url_for('groups.edit_group', group_id=group.id)}}">
    Edit group
</a>
{% endif %}

<a href="{{ url_for('groups.group_users', group_id=group.id)}}">
    Users
</a>
{%if user.is_authenticated %}
    {% if is_member %}
        <a href="{{ 
            url_for('groups.leave_group',
                user_id=current_user.id,
                group_id=group.id 
            )}}">Leave</a>
    {% else %}
        {% if invite is not none %}
            {% if invite.user_pending %}
                <a href="{{
                    url_for('groups.request_join',
                    group_id=group.id,
                    user_id=user.id
                    )
                }}">Cancel join request</a>
            {% else %}
                <a>Decline invitation</a>
            {% endif %}
        {% else %}
            <a href="{{
                url_for('groups.request_join',
                group_id=group.id,
                user_id=user.id
                )
            }}">Request join</a>
        {% endif%}
    {% endif %}
{% endif %}
</div>

<div class="group_desc">
    <div>Description:</div>
    <span>
    {{ group.description }}
    </span>
</div>

<h2>Group Image board</h2>
<form method="GET" class="filter_form">
    {{ form.hidden_tag() }}
    <div>
        {{ form.tags.label }}: {{ form.tags(value=request.args.get('tags', '')) }}
    </div>
    <div>
        {{ form.users.label }}: {{ form.users(value=request.args.get('users', '')) }}
    </div>
    <div>
        {{ form.start_date.label }}: {{ form.start_date(value=request.args.get('start_date', '')) }}
    </div>
    <div>
        {{ form.end_date.label }}: {{ form.end_date(value=request.args.get('end_date', '')) }}
    </div>
    <div>
        {{ form.order_by.label }}: {{ form.order_by(value=request.args.get('order_by', '')) }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% include "gallery_posts.html" %}

{% endblock %}