<!-- templates/groups.html -->
{% extends "base.html" %}

{% block title %}
Groups
{% endblock %}

{% block content %}
<h1> Groups </h1>

{% if user.is_authenticated %}
{% if owned_groups|length > 0 %}
<div id="owned_groups" class="group_list_div">
    <h2> Owned groups </h2>
    <ul>
    {% for group in owned_groups %}
    <li>
        <a href="{{ url_for('groups.group_homepage', group_id=group.id) }}">
            <div class="group_list_item">
                <img src = "{{ url_for('foto.get_group_image', group_id=group.id) }}"
                    alt="Group Image"
                    style="width: 150px; height: 150px; border-radius: 50%;">
                <h3>
                    {{ group.name }}
                </h3>
                <p>{{group.description}}</p>
            </div>
        </a>
    </li>
    {% endfor %}
    </ul>
</div>
{% endif %}



<div id="member_group" class="group_list_div">
    <h2> Visible groups </h2>
    <ul>
    {% for group in groups %}
    <li>
        <a href="{{ url_for('groups.group_homepage', group_id=group.id) }}">
            <div class="group_list_item">
                <img src = "{{ url_for('foto.get_group_image', group_id=group.id) }}"
                    alt="Group Image"
                    style="width: 150px; height: 150px; border-radius: 50%;">
                <h3>
                    {{ group.name }}
                </h3>
                <p>{{group.description}}</p>
            </div>
        </a>
    </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<div id="public_group" class="group_list_div">
    <h2> Visible groups </h2>
    <ul>
    {% for group in groups %}
    <li>
        <a href="{{ url_for('groups.group_homepage', group_id=group.id) }}">
            <div class="group_list_item">
                <img src = "{{ url_for('foto.get_group_image', group_id=group.id) }}"
                    alt="Group Image"
                    style="width: 150px; height: 150px; border-radius: 50%;">
                <h3>
                    {{ group.name }}
                </h3>
                <p>{{group.description}}</p>
            </div>
        </a>
    </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}