<!-- templates/group_detail.html -->
{% extends "base.html" %}

{% block title %}
Group homepage
{% endblock %}

{% block content %}
<h1> {{group.name}}</h1>
{% if owner %}
<a href="{{ url_for('groups.edit_group', group_id=group.id)}}">
    Edit group
</a>
{% endif %}
<a href="{{ url_for('groups.group_users', group_id=group.id)}}">
    Users
</a>

<h2>Group Image board</h2>
<form method="GET">
    {{ form.hidden_tag() }}
    <div>
        {{ form.tags.label }}: {{ form.tags(value=request.args.get('tags', '')) }}
    </div>
    <div>
        {{ form.users.label }}: {{ form.users(value=request.args.get('users', '')) }}
    </div>
    <div>
        {{ form.start_date.label }}: {{ form.start_date(value=request.args.get('start_date', '')) }}
    </div>
    <div>
        {{ form.end_date.label }}: {{ form.end_date(value=request.args.get('end_date', '')) }}
    </div>
    <div>
        {{ form.order_by.label }}: {{ form.order_by(value=request.args.get('order_by', '')) }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% include "gallery_posts.html" %}

{% endblock %}