<!-- templates/invites.html -->
{% extends "base.html" %}

{% block title %}
Invites and Requests
{% endblock %}

{% block content %}
<div class="general_view_page_container">
<h2>Invites</h2>

<ul>

    {% if not invites.all() %}
    <li>You have no invites</li>
    {% endif %}
{% for invite in invites %}
    <li>
    {{invite.name}}
    <a href="{{ url_for(
        'invites.accept_invite',
        group_id=invite.id
    )}}">
        Accept
    </a>
    <a href="{{ url_for(
        'invites.cancel_invite',
        group_id=invite.id
    )}}">
       Decline 
    </a>
    </li>
{% endfor %}
</ul>

<h2>Requests</h2>

<ul>
    {% if not requests.all() %}
    <li>You have no requests pending</li>
    {% endif %}
{% for request in requests %}
    <li>
    {{request.name}}
    <a href="{{ url_for(
        'invites.cancel_invite',
        group_id=request.id
    )}}">
       Cancel
    </a>
    </li>
{% endfor %}
</ul>
</div>
{% endblock %}