<!-- templates/post.html -->
{% extends "base.html" %}

{% block title %}
Post
{% endblock %}

{% block content %}
<div class="post_view_page_container">
    <div class="post_view_container">
        <a href="{{ url_for('view.profile', user_id=p_user.id) }}" class="post_view_container_user">
            <img src="{{ url_for('foto.get_user_image', user_id=p_user.id) }}" alt="user image">
            <p>By: {{ p_user.username }} ({{ p_user.unique_id }})</p>
        </a>
        <div class="post_view_container_img">
            <img src="{{ url_for('foto.get_post_image', post_id=post.id) }}" alt="user image" class="post_view_container_img">
        </div>
        <p>Date: {{ post.post_date }}</p>
        <p>Description: {{ post.description }}</p>
        <p>
        {% for tag in post.tags %}
            <a href="{{ url_for('view.tag', tag=tag.name) }}">#{{ tag.name }}</a>
        {% endfor %}
        </p>
        <p>Score: {{ score_total }} ({{ score_per }})</p>
        {%if user.is_authenticated %}
        <!-- Like Form -->
        <form method="POST" action="{{ url_for('post.like', post_id=post.id) }}">
            {{ like_form.csrf_token }}
            {{ like_form.submit(class="btn btn-success") }}
        </form>
        
        <!-- Dislike Form -->
        <form method="POST" action="{{ url_for('post.dislike', post_id=post.id) }}">
            {{ dislike_form.csrf_token }}
            {{ dislike_form.submit(class="btn btn-danger") }}
        </form>

        <p>Like Statatus {{ score }}</p>

        <form method="POST" action="{{ url_for('post.post', post_id=post.id) }}">
            {{ comment.hidden_tag() }}
            
            <div>
              <label for="description">Comment:</label>
              {{ comment.description(size=50) }}
            </div>
        
            <div>
              {{ comment.submit() }}
            </div>
          </form>
        {%endif %}
        <ul>
            {% for com in comments %}
              <li>
                <p>ID: {{ com.id }}</p>
                <h3>User: {{ get_user(com.user_id).username }} ({{ get_user(com.user_id).unique_id }})</h3>
                <span>{{ com.content }}</span>
            </li>
            {% endfor %}
          </ul>
    </div>
</div>
{% endblock %}