<!-- templates/post.html -->
{% extends "base.html" %}

{% block title %}
Post
{% endblock %}

{% block content %}
<div class="general_view_page_container">
    <div class="post_view_container">
        <a href="{{ url_for('view.profile', user_id=p_user.id) }}" class="post_view_container_user">
            <img src="{{ url_for('foto.get_user_image', user_id=p_user.id) }}" alt="user image">
            <p>By: {{ p_user.username }} ({{ p_user.unique_id }})</p>
        </a>
        <div class="post_edit_container">
            {% if post.owner_id == user.id %}
                <a href="{{ url_for('post.edit_post', post_id=post.id) }}">Edit post</a>
            {%endif %}
            {% if post.owner_id == user.id or current_user_is_moderator() %}
                <form action="{{ url_for('post.delete_post', post_id=post.id) }}" method="post">
                <button type="submit">Delete Post</button>
                </form>
            {%endif %}
        </div>
        <div class="post_view_container_img">
            <img src="{{ url_for('foto.get_post_image', post_id=post.id) }}" alt="user image" class="post_view_container_img">
        </div>
        <p>Date: {{ post.post_date }}</p>
        <p>Description: {{ post.description }}</p>
        <p>
        {% for tag in post.tags %}
            <a href="{{ url_for('view.tag', tag=tag.name) }}">#{{ tag.name }}</a>
        {% endfor %}
        </p>
        <p>Score: {{ score_total }} ({{ score_per }})</p>
        {%if user.is_authenticated %}

        <!-- Like Form -->
        <div class="upload_form_like">
            <form method="POST" action="{{ url_for('post.like', post_id=post.id) }}" class="upload_form">
                {{ like_form.csrf_token }}
                {{ like_form.submit(class="btn btn-success") }}
            </form>

            <!-- Dislike Form -->
            <form method="POST" action="{{ url_for('post.dislike', post_id=post.id) }}" class="upload_form">
                {{ dislike_form.csrf_token }}
                {{ dislike_form.submit(class="btn btn-danger") }}
            </form>
        </div>

        <p>Like Status: {{ score }}</p>

        <form method="POST" action="{{ url_for('post.post', post_id=post.id) }}" class="upload_form">
            {{ comment.hidden_tag() }}
            
            <div class="form-group upload_form_desc">
              <label for="description">Comment:</label>
              {{ comment.description(size=50) }}
            </div>
        
            <div class="form-group">
              {{ comment.submit() }}
            </div>
          </form>
        {%endif %}
        <ul class="post_view_comment_list">
            {% for com in comments %}
            {% with c_user = get_user(com.user_id) %}
              <li>
                  <div class="post_view_comment_div">
                    <a href="{{ url_for('view.profile', user_id=c_user.id) }}">
                        <div class="post_view_comment_user">
                            <img src="{{ url_for('foto.get_user_image', user_id=c_user.id) }}" alt="user image">
                            <span>User: {{ c_user.username }} ({{ c_user.unique_id }})</span>
                        </div>
                    </a>
                    <span class="post_view_comment_content">{{ com.content }}</span>
                    {% if com.user_id == user.id or current_user_is_moderator() %}
                    <form action="{{ url_for('post.delete_comment', commet_id=com.id, post_id=post.id) }}" method="post"
                          class="delete_comment_form">
                        <button type="submit">Delete Comment</button>
                    </form>
                    {%endif %}
                  </div>
                </li>
            {% endwith %}
            {% endfor %}
          </ul>
    </div>
</div>
{% endblock %}