<!-- templates/profile.html -->
{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="profile_user">
    <h1>{{ p_user.username }}</h1>
    <p>{{ p_user.unique_id }}</p>
    <img src="{{ url_for('foto.get_user_image', user_id=p_user.id) }}" alt="user image">
</div>
{% if invite_form is not none %}
<form method="POST" enctype="multipart/form-data" class="filter_form"
    action="{{ url_for('view.profile', user_id=p_user.id) }}">
    {{ invite_form.hidden_tag() }}
    {{ invite_form.group }}
    {{ invite_form.invite }}
</form>
{%endif%}

<h2>User Posts</h2>
<form method="GET" class="filter_form">
    {{ form.hidden_tag() }}
    <div>
        {{ form.tags.label }}: {{ form.tags(value=request.args.get('tags', '')) }}
    </div>
    <div>
        {{ form.start_date.label }}: {{ form.start_date(value=request.args.get('start_date', '')) }}
    </div>
    <div>
        {{ form.end_date.label }}: {{ form.end_date(value=request.args.get('end_date', '')) }}
    </div>
    <div>
        {{ form.order_by.label }}: {{ form.order_by(value=request.args.get('order_by', '')) }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% include "gallery_posts.html" %}

{% endblock %}