<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
    <h2>#{{tag_name}}</h2>
    <form method="GET">
        {{ form.hidden_tag() }}
        <div>
            {{ form.users.label }}: {{ form.users(value=request.args.get('users', '')) }}
        </div>
        <div>
            {{ form.start_date.label }}: {{ form.start_date(value=request.args.get('start_date', '')) }}
        </div>
        <div>
            {{ form.end_date.label }}: {{ form.end_date(value=request.args.get('end_date', '')) }}
        </div>
        <div>
            {{ form.order_by.label }}: {{ form.order_by(value=request.args.get('order_by', '')) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
   {% include "gallery_posts.html" %}
{% endblock %}